.titre{
    font-size: 35px;
    font-weight: 400;
}

.rating_container{
    display: flex;
}
.rating{
    margin-top: 3px;
    margin-left: 5px;
}

.details:hover{
    overflow-y:auto ;
}
.details{
    font-family: roboto;
    font-size: 20px;
    font-weight: 400;
    height: 120px;
    margin-top: 10px;
    overflow-y: hidden;
}